{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'croll/menubar.css' %}">

    </head>
    <body>
        <header>
        </header>
            <div class="menubar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="financewindow" id="financewindow">Finance</a>
                </li>
                <li><a href="#">Invest Index</a>
                    <ul>
                        <li><a href="pbrwindow" id="pbrwindow">PBR</a></li>
                        <li><a href="#">PER</a></li>
                        <li><a href="#">Apps</a></li>
                        <li><a href="#">Extensions</a></li>
                    </ul>
                </li>
                <li><a href="#">Order</a>
                    <ul>
                        <li><a href="enteringwindow" id="enteringwindow">입고</a></li>
                        <li><a href="#">AAA</a></li>
                        <li><a href="#">AAA</a></li>
                        <li><a href="#">AAA</a></li>
                    </ul>
                    </li>
            </ul>
            </div>
    </body>
</html>